<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
  [nzWidth]="width"
>
  <ng-template #modalTitle>
    <div>{{ title }}</div>
  </ng-template>

  <ng-template #modalContent>
    <div nz-row *ngIf="actionType === 'view'">
      <div class="shr-mb-16" nz-col nzSpan="12">
        <nz-icon nzType="appstore" nzTheme="outline" />
        <span class="shr-ml-8">Mã hợp đồng</span>
        <h4>{{ dataInput.contract_code }}</h4>
      </div>
      <div class="shr-mb-16" nz-col nzSpan="12">
        <nz-icon nzType="folder" nzTheme="outline" />
        <span class="shr-ml-8">Loại hợp đồng</span>
        <h4>{{ dataInput.contract_type }}</h4>
      </div>
      <div class="shr-mb-16" nz-col nzSpan="12">
        <nz-icon nzType="calendar" nzTheme="outline" />
        <span class="shr-ml-8">Ngày bắt đầu</span>
        <h4>{{ (dataInput.start_date | date : 'dd/MM/yyyy') || 'Chưa có' }}</h4>
      </div>

      <div class="shr-mb-16" nz-col nzSpan="12">
        <nz-icon nzType="calendar" nzTheme="outline" />
        <span class="shr-ml-8">Ngày kết thúc</span>
        <h4>{{ (dataInput.end_date | date : 'dd/MM/yyyy') || 'Chưa có' }}</h4>
      </div>
      <div nz-col nzSpan="12" class="shr-mb-16">
        <nz-icon nzType="laptop" nzTheme="outline" />
        <span class="shr-ml-8">Vị trí công việc</span>
        <h4>{{ dataInput.job_position }}</h4>
      </div>
      <div nz-col nzSpan="12" class="shr-mb-16">
        <nz-icon nzType="dollar" nzTheme="outline" />
        <span class="shr-ml-8">Lương cơ bản</span>
        <h4>{{ dataInput.basic_salary | number }}</h4>
      </div>
      <div nz-col nzSpan="12" class="shr-mb-16">
        <nz-icon nzType="sync" nzTheme="outline" />
        <span class="shr-ml-8">Ca làm việc</span>
        <h4>{{ dataInput?.work_schedule?.schedule_name || 'Chưa có' }}</h4>
      </div>
      <div nz-col nzSpan="12" class="shr-mb-16">
        <nz-icon nzType="laptop" nzTheme="outline" />
        <span class="shr-ml-8">Hình thức làm việc</span>
        <h4>{{ dataInput.type_of_work }}</h4>
      </div>
      <div nz-col nzSpan="12" class="shr-mb-16">
        <nz-icon nzType="field-time" nzTheme="outline" />
        <span class="shr-ml-8">Tần suất trả lương</span>
        <h4>{{ dataInput.pay_frequency }}</h4>
      </div>
      <div nz-col nzSpan="12" class="shr-mb-16">
        <nz-icon nzType="file-text" nzTheme="outline" />
        <span class="shr-ml-8">Ghi chú</span>
        <h4>{{ dataInput.note }}</h4>
      </div>
    </div>
    <div nz-row *ngIf="actionType === 'edit'" [nzGutter]="[24, 0]">
      <div nz-col nzSpan="12" class="shr-group-input">
        <span class="shr-label-input">Mã hợp đồng</span>
        <span class="shr-input-require">*</span>
        <input
          type="text"
          nz-input
          placeholder="Nhập Mã hợp đồng"
          [disabled]="true"
          [(ngModel)]="dataInput.contract_code"
        />
      </div>
      <div nz-col nzSpan="12" class="shr-group-input">
        <span class="shr-label-input">Trạng thái</span>
        <span class="shr-input-require">*</span>
        <nz-select [(ngModel)]="dataInput.status" nzAllowClear class="shr-w-full">
          <nz-option [nzValue]="ContractStatus.DANGHOATDONG" nzLabel="Đang hoạt động"></nz-option>
          <nz-option [nzValue]="ContractStatus.HETHAN" nzLabel="Hết hạn"></nz-option>
          <nz-option [nzValue]="ContractStatus.SAPHETHAN" nzLabel="Sắp hết hạn"></nz-option>
          <nz-option [nzValue]="ContractStatus.NHAP" nzLabel="Nháp"></nz-option>
          <nz-option [nzValue]="ContractStatus.DAHUY" nzLabel="Đã hủy"></nz-option>
        </nz-select>
      </div>
      <div nz-col nzSpan="12" class="shr-group-input">
        <span class="shr-label-input">Tên hợp đồng</span>
        <input
          type="text"
          nz-input
          placeholder="Nhập Tên hợp đồng"
          [disabled]="false"
          [(ngModel)]="dataInput.contract_name"
        />
      </div>
      <div nz-col nzSpan="12" class="shr-group-input">
        <span class="shr-label-input">Loại hợp đồng</span>
        <span class="shr-input-require">*</span>
        <shr-select-param
          tableName="employee"
          columnName="employee_type"
          title="Loại hợp đồng"
          [(selected)]="dataInput.contract_type"
        ></shr-select-param>
      </div>
      <div nz-col nzSpan="12" class="shr-group-input">
        <span class="shr-label-input">Ngày bắt đầu</span>
        <span class="shr-input-require">*</span>
        <nz-date-picker
          class="shr-w-full"
          [(ngModel)]="dataInput.start_date"
          nzFormat="dd/MM/yyyy"
        ></nz-date-picker>
      </div>
      <div nz-col nzSpan="12" class="shr-group-input">
        <span class="shr-label-input">Ngày kết thúc</span>
        <span class="shr-input-require">*</span>
        <nz-date-picker
          class="shr-w-full"
          [(ngModel)]="dataInput.end_date"
          nzFormat="dd/MM/yyyy"
        ></nz-date-picker>
      </div>
      <div nz-col nzSpan="12" class="shr-group-input">
        <span class="shr-label-input">Vị trí công việc</span>
        <span class="shr-input-require">*</span>
        <!-- <nz-select
          class="shr-w-full"
          [(ngModel)]="dataInput.job_position"
          (nzOpenChange)="getListJobPositions($event)"
          nzAllowClear
          nzShowSearch
          nzPlaceHolder="Chọn vị trí công việc"
        >
          <nz-option
            *ngFor="let item of listJobPositions"
            [nzLabel]="item.job_name"
            [nzValue]="item.job_code"
          ></nz-option>
        </nz-select> -->
        <shr-select-field
          tableName="job-positions"
          fieldName="job_name"
          fieldValue="job_code"
          title="Chọn Vị trí công việc"
          [(selected)]="dataInput.job_position"
        ></shr-select-field>
      </div>
      <div nz-col nzSpan="12" class="shr-group-input">
        <span class="shr-label-input">Lương cơ bản</span>
        <span class="shr-input-require">*</span>
        <input
          type="text"
          nz-input
          placeholder="Nhập Lương cơ bản"
          [disabled]="false"
          [(ngModel)]="dataInput.basic_salary"
        />
      </div>
      <div nz-col nzSpan="12" class="shr-group-input">
        <span class="shr-label-input">Ca làm việc</span>
        <span class="shr-input-require">*</span>
        <shr-select-field
          tableName="work-schedules"
          fieldName="schedule_name"
          fieldValue="id"
          title="Ca làm việc"
          [(selected)]="dataInput.work_schedule_id"
        ></shr-select-field>
      </div>
      <div nz-col nzSpan="12" class="shr-group-input">
        <span class="shr-label-input">Hình thức làm việc</span>
        <span class="shr-input-require">*</span>
        <shr-select-param
          tableName="contract"
          columnName="type_of_work"
          title="Hình thức làm việc"
          [(selected)]="dataInput.type_of_work"
        ></shr-select-param>
      </div>
      <div nz-col nzSpan="12" class="shr-group-input">
        <span class="shr-label-input">Tần suất trả lương</span>
        <span class="shr-input-require">*</span>
        <shr-select-param
          tableName="contract"
          columnName="pay_frequency"
          title="Tần suất trả lương"
          [(selected)]="dataInput.pay_frequency"
        ></shr-select-param>
      </div>
      <div nz-col nzSpan="12" class="shr-group-input">
        <span class="shr-label-input">Ghi chú</span>
        <textarea
          type="text"
          nz-input
          placeholder="Nhập Ghi chú"
          [(ngModel)]="dataInput.note"
        ></textarea>
      </div>
    </div>
  </ng-template>

  <ng-template #modalFooter>
    <shr-button type="default" (click)="handleCancel()">Hủy</shr-button>
    <shr-button type="primary" (click)="handleOk()">{{ textConfirm }}</shr-button>
  </ng-template>
</nz-modal>
