<div class="shr-flex shr-align-center shr-jus-sp-bw shr-mb-16">
  <h2>Thời gian làm việc</h2>
  <!-- <shr-button [leftIcon]="'plus'" (click)="openPopupCreateWorkSchedule()">Thêm mới</shr-button> -->
</div>

<div>
  <div class="shr-flex shr-align-center shr-jus-sp-bw shr-mb-16">
    <h3>Danh sách ca làm việc</h3>
    <shr-button [leftIcon]="'plus'" (click)="openPopupCreateWorkSchedule()">Thêm mới</shr-button>
  </div>

  <nz-table
    #nzTable
    [nzLoading]="isLoadingTable"
    [nzData]="listWorkSchedule"
    [nzPageSize]="10"
    nzBordered
    [nzShowPagination]="listWorkSchedule.length > 10"
    nzSize="small"
  >
    <thead>
      <tr>
        <th>Tên ca làm việc</th>
        <th>Bắt đầu</th>
        <th>Kết thúc</th>
        <th>Bắt đầu nghỉ</th>
        <th>Kết thúc nghỉ</th>
        <th>Mô tả</th>
        <th nzAlign="center">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listWorkSchedule">
        <td>{{ item.schedule_name }}</td>
        <td>{{ item.start_time }}</td>
        <td>{{ item.end_time }}</td>
        <td>{{ item.break_start }}</td>
        <td>{{ item.break_end }}</td>
        <td>{{ item.description }}</td>
        <td class="shr-text-right">
          <nz-icon
            nzType="edit"
            nzTheme="outline"
            nz-tooltip="Sửa"
            class="shr-table_action-btn"
            (click)="openPopupEditDepartment(item)"
          />
          <nz-icon
            nzType="delete"
            nzTheme="outline"
            nz-tooltip="Xóa"
            class="shr-table_action-btn"
            (click)="openPopupDeleteDepartment(item)"
          />
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

<div class="shr-flex shr-align-center shr-jus-sp-bw shr-mb-16 shr-mt-16">
  <h3>Thời gian làm việc trong tuần</h3>
  <shr-button [leftIcon]="'check'" (click)="saveWeekday()">Lưu</shr-button>
</div>
<div nz-row nzGutter="24">
  <div nz-col nzSpan="6" class="shr-group-input">
    <span class="shr-label-input">Ngày bắt đầu</span>
    <nz-select [(ngModel)]="week_start_date" nzPlaceHolder="Chọn Ngày bắt đầu" class="shr-w-full">
      <nz-option nzLabel="Thứ 2" [nzValue]="2"></nz-option>
      <nz-option nzLabel="Thứ 3" [nzValue]="3"></nz-option>
      <nz-option nzLabel="Thứ 4" [nzValue]="4"></nz-option>
      <nz-option nzLabel="Thứ 5" [nzValue]="5"></nz-option>
      <nz-option nzLabel="Thứ 6" [nzValue]="6"></nz-option>
      <nz-option nzLabel="Thứ 7" [nzValue]="7"></nz-option>
      <nz-option nzLabel="Chủ nhật" [nzValue]="8"></nz-option>
    </nz-select>
  </div>
  <div nz-col nzSpan="6" class="shr-group-input">
    <span class="shr-label-input">Ngày kết thúc</span>
    <nz-select [(ngModel)]="week_end_date" nzPlaceHolder="Chọn Ngày kết thúc" class="shr-w-full">
      <nz-option nzLabel="Thứ 2" [nzValue]="2"></nz-option>
      <nz-option nzLabel="Thứ 3" [nzValue]="3"></nz-option>
      <nz-option nzLabel="Thứ 4" [nzValue]="4"></nz-option>
      <nz-option nzLabel="Thứ 5" [nzValue]="5"></nz-option>
      <nz-option nzLabel="Thứ 6" [nzValue]="6"></nz-option>
      <nz-option nzLabel="Thứ 7" [nzValue]="7"></nz-option>
      <nz-option nzLabel="Chủ nhật" [nzValue]="8"></nz-option>
    </nz-select>
  </div>
</div>

<div class="shr-flex shr-align-center shr-jus-sp-bw shr-mb-16 shr-mt-16">
  <h3>Thời gian chấm công</h3>
  <shr-button [leftIcon]="'check'" (click)="saveThreshold()">Lưu</shr-button>
</div>

<div nz-row nzGutter="24">
  <div class="shr-group-input" nz-col nzSpan="6">
    <span class="shr-label-input">Ngưỡng đi muộn (phút)</span>
    <nz-input-number
      class="shr-w-full"
      placeholder="Nhập Ngưỡng đi muộn"
      [(ngModel)]="late_threshold_minutes"
      nzMin="0"
    />
  </div>
  <div class="shr-group-input" nz-col nzSpan="6">
    <span class="shr-label-input">Ngưỡng về sớm (phút)</span>
    <nz-input-number
      class="shr-w-full"
      placeholder="Nhập Ngưỡng về sớm"
      [(ngModel)]="early_leave_threshold_minutes"
      nzMin="0"
    />
  </div>
  <div class="shr-group-input" nz-col nzSpan="6">
    <span class="shr-label-input">Ngưỡng vắng mặt (phút)</span>
    <nz-input-number
      class="shr-w-full"
      placeholder="Nhập Ngưỡng vắng mặt"
      [(ngModel)]="absent_threshold_minutes"
      nzMin="0"
    />
  </div>
  <div class="shr-group-input" nz-col nzSpan="6">
    <span class="shr-label-input">Ngưỡng làm thêm giờ (phút)</span>
    <nz-input-number
      class="shr-w-full"
      placeholder="Nhập Ngưỡng làm thêm giờ"
      [(ngModel)]="overtime_threshold_minutes"
      nzMin="0"
    />
  </div>

  <shr-popup
    *ngIf="isVisiblePopup"
    [(isVisible)]="isVisiblePopup"
    title="Thêm mới ca làm việc"
    textConfirm="Thêm mới"
    (confirmClick)="handleCreateWorkSchedule()"
  >
    <div nz-row nzGutter="24">
      <div nz-col nzSpan="12" class="shr-group-input">
        <span class="shr-label-input">Tên ca làm việc</span>
        <span class="shr-input-require">*</span>
        <input
          type="text"
          nz-input
          placeholder="Nhập Tên ca làm việc"
          [(ngModel)]="dataInput.schedule_name"
        />
      </div>
      <div nz-col nzSpan="12" class="shr-group-input">
        <span class="shr-label-input">Bắt đầu làm việc</span>
        <span class="shr-input-require">*</span>
        <input
          type="text"
          nz-input
          placeholder="Nhập Bắt đầu làm việc"
          [(ngModel)]="dataInput.start_time"
        />
      </div>
      <div nz-col nzSpan="12" class="shr-group-input">
        <span class="shr-label-input">Kết thúc làm việc</span>
        <span class="shr-input-require">*</span>
        <input
          type="text"
          nz-input
          placeholder="Nhập Kết thúc làm việc"
          [(ngModel)]="dataInput.end_time"
        />
      </div>
      <div nz-col nzSpan="12" class="shr-group-input">
        <span class="shr-label-input">Bắt đầu nghỉ</span>
        <span class="shr-input-require">*</span>
        <input
          type="text"
          nz-input
          placeholder="Nhập Bắt đầu nghỉ"
          [(ngModel)]="dataInput.break_start"
        />
      </div>
      <div nz-col nzSpan="12" class="shr-group-input">
        <span class="shr-label-input">Kết thúc nghỉ</span>
        <span class="shr-input-require">*</span>
        <input
          type="text"
          nz-input
          placeholder="Nhập Kết thúc nghỉ"
          [(ngModel)]="dataInput.break_end"
        />
      </div>
      <div nz-col nzSpan="24" class="shr-group-input">
        <span class="shr-label-input">Mô tả</span>
        <span class="shr-input-require"></span>
        <textarea
          type="text"
          nz-input
          placeholder="Nhập Mô tả"
          [(ngModel)]="dataInput.description"
        ></textarea>
      </div>
    </div>
  </shr-popup>

  <shr-popup
    *ngIf="isVisiblePopupEdit"
    [(isVisible)]="isVisiblePopupEdit"
    title="Cập nhật ca làm việc"
    textConfirm="Cập nhật"
    (confirmClick)="handleUpdateWorkSchedule()"
  >
    <div nz-row nzGutter="24">
      <div nz-col nzSpan="12" class="shr-group-input">
        <span class="shr-label-input">Tên ca làm việc</span>
        <span class="shr-input-require">*</span>
        <input
          type="text"
          nz-input
          placeholder="Nhập Tên ca làm việc"
          [(ngModel)]="currentDataWorkSchedule.schedule_name"
        />
      </div>
      <div nz-col nzSpan="12" class="shr-group-input">
        <span class="shr-label-input">Bắt đầu làm việc</span>
        <span class="shr-input-require">*</span>
        <input
          type="text"
          nz-input
          placeholder="Nhập Bắt đầu làm việc"
          [(ngModel)]="currentDataWorkSchedule.start_time"
        />
      </div>
      <div nz-col nzSpan="12" class="shr-group-input">
        <span class="shr-label-input">Kết thúc làm việc</span>
        <span class="shr-input-require">*</span>
        <input
          type="text"
          nz-input
          placeholder="Nhập Kết thúc làm việc"
          [(ngModel)]="currentDataWorkSchedule.end_time"
        />
      </div>
      <div nz-col nzSpan="12" class="shr-group-input">
        <span class="shr-label-input">Bắt đầu nghỉ</span>
        <span class="shr-input-require">*</span>
        <input
          type="text"
          nz-input
          placeholder="Nhập Bắt đầu nghỉ"
          [(ngModel)]="currentDataWorkSchedule.break_start"
        />
      </div>
      <div nz-col nzSpan="12" class="shr-group-input">
        <span class="shr-label-input">Kết thúc nghỉ</span>
        <span class="shr-input-require">*</span>
        <input
          type="text"
          nz-input
          placeholder="Nhập Kết thúc nghỉ"
          [(ngModel)]="currentDataWorkSchedule.break_end"
        />
      </div>
      <div nz-col nzSpan="24" class="shr-group-input">
        <span class="shr-label-input">Mô tả</span>
        <span class="shr-input-require"></span>
        <textarea
          type="text"
          nz-input
          placeholder="Nhập Mô tả"
          [(ngModel)]="currentDataWorkSchedule.description"
        ></textarea>
      </div>
    </div>
  </shr-popup>

  <shr-popup-confirm
    *ngIf="isVisiblePopupDelete"
    [(isVisible)]="isVisiblePopupDelete"
    [typePopup]="'delete'"
    [dataName]="'ca làm việc'"
    [currentDataName]="currentDataWorkSchedule.schedule_name"
    (confirm)="handleDeleteWorkSchedule()"
  ></shr-popup-confirm>
</div>
