<div class="shr-flex shr-jus-sp-bw shr-align-center shr-mb-16">
  <h3 nz-typography>Danh sách chấm công</h3>
  <div>
    <shr-button type="primary" size="default" leftIcon="plus" (click)="showPopupCreateAttendance()">
      Tạo mới
    </shr-button>
  </div>
</div>

<div class="shr-card-container">
  <nz-table nzBordered [nzData]="listAttendance || []" [nzLoading]="isLoading">
    <thead>
      <tr>
        <th nzLeft nzWidth="60px">STT</th>
        <th nzLeft nzWidth="120px">Mã nhân viên</th>
        <th nzWidth="120px">Họ</th>
        <th nzLeft nzWidth="150px">Tên</th>
        <th nzWidth="120px">Ngày chấm công</th>
        <th nzWidth="120px">Thời gian vào</th>
        <th nzWidth="120px">Thời gian ra</th>
        <th nzWidth="120px">Tổng giờ</th>
        <th nzWidth="120px">Trạng thái</th>
        <th nzWidth="150px">Ghi chú</th>
        <th nzAlign="center" nzWidth="120px" nzRight>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td nzLeft></td>
        <td nzLeft>
          <nz-input-group [nzPrefix]="prefixIconSearch1" [nzSuffix]="suffixIconClear1">
            <input
              type="text"
              nz-input
              [(ngModel)]="searchFilter.employee_code"
              (keyup)="onSearchFilter($event)"
            />
          </nz-input-group>
          <ng-template #prefixIconSearch1>
            <nz-icon nzType="search" />
          </ng-template>
          <ng-template #suffixIconClear1>
            <nz-icon
              *ngIf="searchFilter.employee_code"
              nzType="close-circle"
              (click)="handleClearSearch('employee_code')"
              nzTheme="fill"
              class="shr-clear-icon"
            />
          </ng-template>
        </td>
        <td>
          <nz-input-group [nzPrefix]="prefixIconSearch2" [nzSuffix]="suffixIconClear2">
            <input
              type="text"
              nz-input
              [(ngModel)]="searchFilter.last_name"
              (keyup)="onSearchFilter($event)"
            />
          </nz-input-group>
          <ng-template #prefixIconSearch2>
            <nz-icon nzType="search" />
          </ng-template>
          <ng-template #suffixIconClear2>
            <nz-icon
              *ngIf="searchFilter.last_name"
              nzType="close-circle"
              (click)="handleClearSearch('last_name')"
              nzTheme="fill"
              class="shr-clear-icon"
            />
          </ng-template>
        </td>
        <td nzLeft>
          <nz-input-group [nzPrefix]="prefixIconSearch3" [nzSuffix]="suffixIconClear3">
            <input
              type="text"
              nz-input
              [(ngModel)]="searchFilter.first_name"
              (keyup)="onSearchFilter($event)"
            />
          </nz-input-group>
          <ng-template #prefixIconSearch3>
            <nz-icon nzType="search" />
          </ng-template>
          <ng-template #suffixIconClear3>
            <nz-icon
              *ngIf="searchFilter.first_name"
              nzType="close-circle"
              (click)="handleClearSearch('first_name')"
              nzTheme="fill"
              class="shr-clear-icon"
            />
          </ng-template>
        </td>
        <td>
          <nz-date-picker
            nzPlaceHolder="Chọn ngày"
            [nzFormat]="'dd/MM/yyyy'"
            [(ngModel)]="searchFilter.work_date"
            (ngModelChange)="onSearchFilterDate('work_date')"
          ></nz-date-picker>
        </td>
        <td>
          <nz-time-picker
            nzPlaceHolder="Chọn giờ"
            [nzFormat]="'HH:mm'"
            [(ngModel)]="searchFilter.check_in_time"
            (ngModelChange)="onSearchFilterTime('check_in_time')"
          ></nz-time-picker>
        </td>
        <td>
          <nz-time-picker
            nzPlaceHolder="Chọn giờ"
            [nzFormat]="'HH:mm'"
            [(ngModel)]="searchFilter.check_out_time"
            (ngModelChange)="onSearchFilterTime('check_out_time')"
          ></nz-time-picker>
        </td>
        <td>
          <nz-input-group [nzPrefix]="prefixIconSearch4" [nzSuffix]="suffixIconClear4">
            <input
              type="text"
              nz-input
              [(ngModel)]="searchFilter.total_hours"
              (keyup)="onSearchFilter($event)"
            />
          </nz-input-group>
          <ng-template #prefixIconSearch4>
            <nz-icon nzType="search" />
          </ng-template>
          <ng-template #suffixIconClear4>
            <nz-icon
              *ngIf="searchFilter.total_hours"
              nzType="close-circle"
              (click)="handleClearSearch('total_hours')"
              nzTheme="fill"
              class="shr-clear-icon"
            />
          </ng-template>
        </td>
        <td>
          <nz-select
            [(ngModel)]="searchFilter.status"
            nzAllowClear
            class="shr-w-full"
            nzPlaceHolder="Chọn"
            (ngModelChange)="getListAttendance()"
          >
            <nz-option [nzValue]="ATTENDANCE_STATUS.BINHTHUONG" nzLabel="Bình thường"></nz-option>
            <nz-option [nzValue]="ATTENDANCE_STATUS.MUON" nzLabel="Muộn"></nz-option>
            <nz-option [nzValue]="ATTENDANCE_STATUS.VANG" nzLabel="Vắng"></nz-option>
            <nz-option [nzValue]="ATTENDANCE_STATUS.VESOM" nzLabel="Về sớm"></nz-option>
            <nz-option [nzValue]="ATTENDANCE_STATUS.THEMGIO" nzLabel="Thêm giờ"></nz-option>
          </nz-select>
        </td>
        <td>
          <nz-input-group [nzPrefix]="prefixIconSearch5" [nzSuffix]="suffixIconClear5">
            <input
              type="text"
              nz-input
              [(ngModel)]="searchFilter.note"
              (keyup)="onSearchFilter($event)"
            />
          </nz-input-group>
          <ng-template #prefixIconSearch5>
            <nz-icon nzType="search" />
          </ng-template>
          <ng-template #suffixIconClear5>
            <nz-icon
              *ngIf="searchFilter.note"
              nzType="close-circle"
              (click)="handleClearSearch('note')"
              nzTheme="fill"
              class="shr-clear-icon"
            />
          </ng-template>
        </td>
        <td nzRight></td>
      </tr>
      <tr *ngFor="let data of listAttendance; let i = index">
        <td nzLeft>{{ i + 1 }}</td>
        <td nzLeft>{{ data.employee_code }}</td>
        <td>{{ data.work_date | date : 'dd/MM/yyyy' }}</td>
        <td>{{ data.check_in_time | date : 'HH:mm' }}</td>
        <td>{{ data.check_out_time | date : 'HH:mm' }}</td>
        <td>{{ data.total_hours }}</td>
        <td>
          <div class="shr-status" [ngClass]="getStatusClass(data.status)">
            {{ getStatusLabel(data.status) }}
          </div>
        </td>
        <td nzRight>
          <shr-button
            type="link"
            leftIcon="edit"
            (click)="showPopupEditAttendance(data)"
          ></shr-button>
          <shr-button
            type="link"
            leftIcon="delete"
            (click)="showPopupConfirmToDelete(data)"
          ></shr-button>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <div class="shr-flex shr-jus-sp-bw shr-align-center shr-mt-16 shr-w-full">
    <shr-pagination
      [total]="total"
      [(pageNumber)]="pageNumber"
      [(pageSize)]="pageSize"
      (pageNumberChange)="getListAttendance()"
      (pageSizeChange)="getListAttendance()"
    ></shr-pagination>
  </div>
</div>

<!-- Popup components can be added when implementing functionality -->
<shr-popup-confirm
  *ngIf="isVisiblePopupConfirm"
  [(isVisible)]="isVisiblePopupConfirm"
  typePopup="delete"
  dataName="chấm công"
  [currentDataName]="currentAttendance?.employee_code"
  (confirm)="handleDeleteAttendance()"
></shr-popup-confirm>
