<div class="shr-flex shr-jus-sp-bw shr-align-center shr-mb-16">
  <h3 nz-typography>Danh sách yêu cầu làm thêm giờ</h3>
  <div>
    <nz-input-group [nzSuffix]="suffixIconSearch" class="shr-w-300px shr-mr-16">
      <input
        type="text"
        nz-input
        placeholder="Nhập để tìm kiếm"
        [(ngModel)]="common"
        (input)="searchCommon(common)"
      />
      <ng-template #suffixIconSearch>
        <nz-icon *ngIf="!common" nzType="search" />
        <nz-icon
          *ngIf="common"
          nzType="close-circle"
          (click)="common = ''; getListOvertimeRequests()"
          nzTheme="fill"
          class="shr-clear-icon"
        />
      </ng-template>
    </nz-input-group>
    <shr-button
      type="primary"
      size="default"
      leftIcon="plus"
      (click)="showPopupCreateOvertimeRequest()"
      [hidden]="[SYSTEM_ROLES.MANAGE_ATTENDANCE_LIST_OVERTIME_REQUEST_CREATE] | checkRole"
    >
      Tạo mới
    </shr-button>
  </div>
</div>

<div>
  <nz-table
    nzBordered
    [nzData]="listOvertimeRequests || []"
    [nzLoading]="isLoading"
    nzShowPagination="false"
    nzSize="small"
    [nzScroll]="{ x: 'max-content' }"
  >
    <thead>
      <tr>
        <th nzLeft nzWidth="60px">STT</th>
        <th nzLeft nzWidth="120px">Mã nhân viên</th>
        <th nzWidth="120px">Ngày làm việc</th>
        <th nzWidth="150px">Thời gian bắt đầu</th>
        <th nzWidth="150px">Thời gian kết thúc</th>
        <th nzWidth="200px">Lý do</th>
        <th nzWidth="120px">Ngày tạo</th>
        <th nzWidth="140px">Người phê duyệt</th>
        <th nzWidth="120px">Ngày phê duyệt</th>
        <th nzWidth="120px" nzRight>Trạng thái</th>
        <th nzAlign="center" nzWidth="180px" nzRight>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td nzLeft></td>
        <td nzLeft>
          <ng-container *ngIf="showSearchEmployeeCode">
            <nz-input-group [nzPrefix]="prefixIconSearch1" [nzSuffix]="suffixIconClear1">
              <input
                type="text"
                nz-input
                [(ngModel)]="searchFilter.employee_code"
                (keyup)="onSearchFilter($event)"
              />
            </nz-input-group>
            <ng-template #prefixIconSearch1>
              <nz-icon nzType="search" />
            </ng-template>
            <ng-template #suffixIconClear1>
              <nz-icon
                *ngIf="searchFilter.employee_code"
                nzType="close-circle"
                (click)="handleClearSearch('employee_code')"
                nzTheme="fill"
                class="shr-clear-icon"
              />
            </ng-template>
          </ng-container>
        </td>

        <td>
          <nz-date-picker
            nzPlaceHolder="Chọn ngày"
            [nzFormat]="'dd/MM/yyyy'"
            [(ngModel)]="searchFilter.work_date"
            (ngModelChange)="onSearchFilterDate('work_date')"
          ></nz-date-picker>
        </td>
        <td>
          <nz-time-picker
            class="shr-w-full"
            nzPlaceHolder="Chọn giờ"
            [nzFormat]="'HH:mm'"
            [(ngModel)]="searchFilter.start_time"
            (ngModelChange)="onSearchFilterTime('start_time')"
          ></nz-time-picker>
        </td>
        <td>
          <nz-time-picker
            class="shr-w-full"
            nzPlaceHolder="Chọn giờ"
            [nzFormat]="'HH:mm'"
            [(ngModel)]="searchFilter.end_time"
            (ngModelChange)="onSearchFilterTime('end_time')"
          ></nz-time-picker>
        </td>
        <td>
          <nz-input-group [nzPrefix]="prefixIconSearch5" [nzSuffix]="suffixIconClear5">
            <input
              type="text"
              nz-input
              [(ngModel)]="searchFilter.reason"
              (keyup)="onSearchFilter($event)"
            />
          </nz-input-group>
          <ng-template #prefixIconSearch5>
            <nz-icon nzType="search" />
          </ng-template>
          <ng-template #suffixIconClear5>
            <nz-icon
              *ngIf="searchFilter.reason"
              nzType="close-circle"
              (click)="handleClearSearch('reason')"
              nzTheme="fill"
              class="shr-clear-icon"
            />
          </ng-template>
        </td>
        <td>
          <nz-date-picker
            nzPlaceHolder="Chọn ngày"
            [nzFormat]="'dd/MM/yyyy'"
            [(ngModel)]="searchFilter.created_at"
            (ngModelChange)="onSearchFilterDate('created_at')"
          ></nz-date-picker>
        </td>
        <td>
          <nz-input-group [nzPrefix]="prefixIconSearch7" [nzSuffix]="suffixIconClear7">
            <input
              type="text"
              nz-input
              [(ngModel)]="searchFilter.approved_by"
              (keyup)="onSearchFilter($event)"
            />
          </nz-input-group>
          <ng-template #prefixIconSearch7>
            <nz-icon nzType="search" />
          </ng-template>
          <ng-template #suffixIconClear7>
            <nz-icon
              *ngIf="searchFilter.approved_by"
              nzType="close-circle"
              (click)="handleClearSearch('approved_by')"
              nzTheme="fill"
              class="shr-clear-icon"
            />
          </ng-template>
        </td>
        <td>
          <nz-date-picker
            nzPlaceHolder="Chọn ngày"
            [nzFormat]="'dd/MM/yyyy'"
            [(ngModel)]="searchFilter.approved_at"
            (ngModelChange)="onSearchFilterDate('approved_at')"
          ></nz-date-picker>
        </td>
        <td nzRight>
          <nz-select
            [(ngModel)]="searchFilter.status"
            nzAllowClear
            class="shr-w-full"
            nzPlaceHolder="Chọn"
            (ngModelChange)="getListOvertimeRequests()"
          >
            <nz-option [nzValue]="APPROVAL_STATUS.DANGCHO" nzLabel="Đang chờ"></nz-option>
            <nz-option [nzValue]="APPROVAL_STATUS.PHEDUYET" nzLabel="Phê duyệt"></nz-option>
            <nz-option [nzValue]="APPROVAL_STATUS.TUCHOI" nzLabel="Từ chối"></nz-option>
          </nz-select>
        </td>

        <td nzRight></td>
      </tr>
      <tr *ngFor="let data of listOvertimeRequests; let i = index">
        <td nzLeft>{{ i + 1 }}</td>
        <td nzLeft>{{ data.employee_code }}</td>
        <td>{{ data.work_date | date : 'dd/MM/yyyy' }}</td>
        <td>{{ data.start_time }}</td>
        <td>{{ data.end_time }}</td>
        <td>{{ data.reason }}</td>
        <td>{{ data.created_at | date : 'dd/MM/yyyy' }}</td>
        <td>{{ data.approved_by }}</td>
        <td>{{ data.approved_at | date : 'dd/MM/yyyy' }}</td>
        <td nzRight>
          <div *ngIf="data.status == APPROVAL_STATUS.PHEDUYET">
            <span class="shr-status shr-status--success">Phê duyệt</span>
          </div>
          <div *ngIf="data.status == APPROVAL_STATUS.DANGCHO">
            <span class="shr-status shr-status--default">Đang chờ</span>
          </div>
          <div *ngIf="data.status == APPROVAL_STATUS.TUCHOI">
            <span class="shr-status shr-status--danger">Từ chối</span>
          </div>
        </td>
        <td nzRight nzAlign="center">
          <shr-button
            *ngIf="data.status == APPROVAL_STATUS.DANGCHO"
            type="link"
            leftIcon="check"
            bgColor="green"
            nz-tooltip="Phê duyệt"
            (click)="showPopupApproveOvertimeRequest(data)"
            [hidden]="[SYSTEM_ROLES.MANAGE_ATTENDANCE_LIST_OVERTIME_REQUEST_APPROVE] | checkRole"
          ></shr-button>
          <shr-button
            *ngIf="data.status == APPROVAL_STATUS.DANGCHO"
            type="link"
            leftIcon="close"
            bgColor="red"
            nz-tooltip="Từ chối"
            (click)="showPopupRejectOvertimeRequest(data)"
            [hidden]="[SYSTEM_ROLES.MANAGE_ATTENDANCE_LIST_OVERTIME_REQUEST_REJECT] | checkRole"
          ></shr-button>
          <shr-button
            type="link"
            leftIcon="edit"
            (click)="showPopupEditOvertimeRequest(data)"
            nz-tooltip="Chỉnh sửa"
            [hidden]="[SYSTEM_ROLES.MANAGE_ATTENDANCE_LIST_OVERTIME_REQUEST_EDIT] | checkRole"
          ></shr-button>
          <shr-button
            type="link"
            leftIcon="delete"
            (click)="showPopupConfirmToDelete(data)"
            nz-tooltip="Xóa"
            [hidden]="[SYSTEM_ROLES.MANAGE_ATTENDANCE_LIST_OVERTIME_REQUEST_DELETE] | checkRole"
          ></shr-button>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <div class="shr-flex shr-jus-sp-bw shr-align-center shr-mt-16 shr-w-full">
    <shr-pagination
      [total]="total"
      [(pageNumber)]="pageNumber"
      [(pageSize)]="pageSize"
      (pageNumberChange)="getListOvertimeRequests()"
      (pageSizeChange)="getListOvertimeRequests()"
    ></shr-pagination>
  </div>
</div>

<!-- Popup components -->
<shr-popup-confirm
  *ngIf="isVisiblePopupConfirm"
  [(isVisible)]="isVisiblePopupConfirm"
  typePopup="delete"
  dataName="yêu cầu làm thêm giờ"
  [currentDataName]="
    currentOvertimeRequest?.employee_code +
    ' ngày ' +
    (currentOvertimeRequest?.work_date | date : 'dd/MM/yyyy')
  "
  (confirm)="handleDeleteOvertimeRequest()"
></shr-popup-confirm>

<shr-popup-confirm
  *ngIf="isShowPopupApproveOvertimeRequest"
  [(isVisible)]="isShowPopupApproveOvertimeRequest"
  title="Phê duyệt yêu cầu làm thêm giờ"
  message="Bạn có chắc chắn muốn phê duyệt yêu cầu làm thêm giờ này không?"
  (confirm)="handleApproveOvertimeRequest()"
></shr-popup-confirm>

<shr-popup-confirm
  *ngIf="isShowPopupRejectOvertimeRequest"
  [(isVisible)]="isShowPopupRejectOvertimeRequest"
  title="Từ chối yêu cầu làm thêm giờ"
  message="Bạn có chắc chắn muốn từ chối yêu cầu làm thêm giờ này không?"
  (confirm)="handleRejectOvertimeRequest()"
></shr-popup-confirm>

<!-- Popup Create Overtime Request -->
<app-popup-create-overtime-request
  *ngIf="isvisiblePopupCreateOvertimeRequest"
  [(isvisible)]="isvisiblePopupCreateOvertimeRequest"
  [type]="'create'"
  [dataForm]="{}"
  (recallData)="getListOvertimeRequests()"
></app-popup-create-overtime-request>

<!-- Popup Edit Overtime Request -->
<app-popup-create-overtime-request
  *ngIf="isvisiblePopupEditOvertimeRequest"
  [(isvisible)]="isvisiblePopupEditOvertimeRequest"
  [type]="'edit'"
  [dataForm]="currentOvertimeRequest ? currentOvertimeRequest : {}"
  (recallData)="getListOvertimeRequests()"
></app-popup-create-overtime-request>
