<div class="shr-flex shr-align-center shr-jus-sp-bw shr-mb-16">
  <h2>Danh sách chức vụ</h2>

  <shr-button [leftIcon]="'plus'" (click)="openPopupCreateJobPosition()">Thêm mới</shr-button>
</div>

<nz-spin [nzSpinning]="isLoadingTable">
  <nz-collapse>
    <nz-collapse-panel [nzHeader]="headerCollapse" [nzActive]="false">
      <ng-template #headerCollapse>
        <div class="shr-flex shr-align-center shr-jus-sp-bw">
          <span>Không phân loại</span>
          <span>
            {{ listJobWithDept['no_dept']?.length }}
            {{ listJobWithDept['no_dept'] ? 'chức vụ' : '' }}
          </span>
        </div>
      </ng-template>
      <nz-table
        #nzTable
        [nzData]="listJobWithDept['no_dept']"
        [nzPageSize]="10"
        nzBordered
        nzSize="small"
        nzShowPagination="false"
      >
        <thead>
          <tr>
            <th>Mã chức vụ</th>
            <th>Tên chức vụ</th>
            <th>Mô tả</th>
            <th nzAlign="center">Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listJobWithDept['no_dept']">
            <td>{{ item.job_code }}</td>
            <td>{{ item.job_name }}</td>
            <td>{{ item.description }}</td>
            <td class="shr-text-right">
              <nz-icon
                nzType="edit"
                nzTheme="outline"
                nz-tooltip="Sửa"
                class="shr-table_action-btn"
                (click)="openPopupEditJobPosition(item)"
              />
              <nz-icon
                nzType="delete"
                nzTheme="outline"
                nz-tooltip="Xóa"
                class="shr-table_action-btn"
                (click)="openPopupDeleteJobPosition(item)"
              />
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-collapse-panel>
    <nz-collapse-panel
      *ngFor="let item of listDepartment"
      [nzHeader]="headerCollapse"
      [nzActive]="false"
    >
      <ng-template #headerCollapse>
        <div class="shr-flex shr-align-center shr-jus-sp-bw">
          <span>{{ item.department_name }}</span>
          <span>
            {{ listJobWithDept[item.department_code]?.length }}
            {{ listJobWithDept[item.department_code] ? 'chức vụ' : '' }}
          </span>
        </div>
      </ng-template>
      <nz-table
        #nzTable
        [nzData]="listJobWithDept[item.department_code]"
        [nzPageSize]="10"
        nzBordered
        nzSize="small"
        nzShowPagination="false"
      >
        <thead>
          <tr>
            <th>Mã chức vụ</th>
            <th>Tên chức vụ</th>
            <th>Mô tả</th>
            <th nzAlign="center">Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listJobWithDept[item.department_code]">
            <td>{{ item.job_code }}</td>
            <td>{{ item.job_name }}</td>
            <td>{{ item.description }}</td>
            <td class="shr-text-right">
              <nz-icon
                nzType="edit"
                nzTheme="outline"
                nz-tooltip="Sửa"
                class="shr-table_action-btn"
                (click)="openPopupEditJobPosition(item)"
              />
              <nz-icon
                nzType="delete"
                nzTheme="outline"
                nz-tooltip="Xóa"
                class="shr-table_action-btn"
                (click)="openPopupDeleteJobPosition(item)"
              />
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-collapse-panel>
  </nz-collapse>
</nz-spin>

<shr-popup
  *ngIf="isVisiblePopup"
  [(isVisible)]="isVisiblePopup"
  title="Thêm mới chức vụ"
  (confirmClick)="handleCreateJobPosition()"
>
  <div nz-row nzGutter="24">
    <div nz-col nzSpan="12" class="shr-group-input">
      <span class="shr-label-input">Mã chức vụ</span>
      <span class="shr-input-require">*</span>
      <input type="text" nz-input placeholder="Nhập Mã chức vụ" [(ngModel)]="dataInput.job_code" />
    </div>
    <div nz-col nzSpan="12" class="shr-group-input">
      <span class="shr-label-input">Tên chức vụ</span>
      <span class="shr-input-require">*</span>
      <input type="text" nz-input placeholder="Nhập Tên chức vụ" [(ngModel)]="dataInput.job_name" />
    </div>
    <div nz-col nzSpan="12" class="shr-group-input">
      <span class="shr-label-input">Phòng ban</span>
      <nz-select nz-input [(ngModel)]="dataInput.department_code" class="shr-w-full" nzAllowClear>
        <nz-option
          *ngFor="let item of listDepartment"
          [nzValue]="item.department_code"
          [nzLabel]="item.department_name"
        ></nz-option>
      </nz-select>
    </div>
    <div nz-col nzSpan="24" class="shr-group-input">
      <span class="shr-label-input">Mô tả</span>
      <span class="shr-input-require"></span>
      <input type="text" nz-input placeholder="Nhập Mô tả" [(ngModel)]="dataInput.description" />
    </div>
  </div>
</shr-popup>

<shr-popup
  *ngIf="isVisiblePopupEdit"
  [(isVisible)]="isVisiblePopupEdit"
  title="Sửa chức vụ"
  (confirmClick)="handleUpdateJobPosition()"
>
  <div nz-row nzGutter="24">
    <div nz-col nzSpan="12" class="shr-group-input">
      <span class="shr-label-input">Mã chức vụ</span>
      <input
        type="text"
        nz-input
        placeholder="Nhập Mã chức vụ"
        [(ngModel)]="currentDataJobPosition.job_code"
        disabled
      />
    </div>
    <div nz-col nzSpan="12" class="shr-group-input">
      <span class="shr-label-input">Tên chức vụ</span>
      <input
        type="text"
        nz-input
        placeholder="Nhập Tên chức vụ"
        [(ngModel)]="currentDataJobPosition.job_name"
      />
    </div>
    <div nz-col nzSpan="12" class="shr-group-input">
      <span class="shr-label-input">Phòng ban</span>
      <nz-select
        nz-input
        [(ngModel)]="currentDataJobPosition.department_code"
        class="shr-w-full"
        nzAllowClear
      >
        <nz-option
          *ngFor="let item of listDepartment"
          [nzValue]="item.department_code"
          [nzLabel]="item.department_name"
        ></nz-option>
      </nz-select>
    </div>
    <div nz-col nzSpan="24" class="shr-group-input">
      <span class="shr-label-input">Mô tả</span>
      <span class="shr-input-require"></span>
      <input
        type="text"
        nz-input
        placeholder="Nhập Mô tả"
        [(ngModel)]="currentDataJobPosition.description"
      />
    </div>
  </div>
</shr-popup>

<shr-popup-confirm
  *ngIf="isVisiblePopupCofirm"
  [(isVisible)]="isVisiblePopupCofirm"
  [typePopup]="'delete'"
  [dataName]="'chức vụ'"
  [currentDataName]="currentDataJobPosition.job_name"
  (confirm)="handleDeleteJobPosition()"
></shr-popup-confirm>
