<div class="shr-flex shr-jus-sp-bw shr-align-center shr-mb-16">
  <h3 nz-typography>Danh sách chấm công</h3>
  <div>
    <nz-input-group [nzSuffix]="suffixIconSearch" class="shr-w-300px shr-mr-16">
      <input
        type="text"
        nz-input
        placeholder="Nhập để tìm kiếm"
        [(ngModel)]="common"
        (input)="searchCommon(common)"
      />
      <ng-template #suffixIconSearch>
        <nz-icon *ngIf="!common" nzType="search" />
        <nz-icon
          *ngIf="common"
          nzType="close-circle"
          (click)="common = ''; getListAttendance()"
          nzTheme="fill"
          class="shr-clear-icon"
        />
      </ng-template>
    </nz-input-group>
    <shr-button
      type="primary"
      size="default"
      leftIcon="plus"
      (click)="showPopupCreateAttendance()"
      [hidden]="[SYSTEM_ROLES.MANAGE_ATTENDANCE_LIST_ATTENDANCE_CREATE] | checkRole"
    >
      Tạo mới
    </shr-button>
  </div>
</div>

<div class="shr-card-container">
  <nz-table
    nzBordered
    [nzData]="listAttendance || []"
    [nzLoading]="isLoading"
    nzShowPagination="false"
    nzSize="small"
    [nzScroll]="{ x: 'auto', y: '400px' }"
  >
    <thead>
      <tr>
        <th nzLeft nzWidth="60px">STT</th>
        <th nzLeft nzWidth="120px">Mã nhân viên</th>
        <th nzWidth="180px">Họ tên</th>
        <th nzWidth="160px">Ngày chấm công</th>
        <th nzWidth="120px">Thời gian vào</th>
        <th nzWidth="120px">Thời gian ra</th>
        <th nzWidth="120px">Tổng giờ</th>
        <th nzWidth="120px">Giờ làm thêm</th>
        <th nzWidth="120px">Trạng thái</th>
        <th nzAlign="center" nzWidth="140px" nzRight>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td nzLeft></td>
        <td nzLeft>
          <ng-container *ngIf="showSearchEmployeeCode">
            <nz-input-group [nzPrefix]="prefixIconSearch1" [nzSuffix]="suffixIconClear1">
              <input
                type="text"
                nz-input
                [(ngModel)]="searchFilter.employee_code"
                (keyup)="onSearchFilter($event)"
              />
            </nz-input-group>
            <ng-template #prefixIconSearch1>
              <nz-icon nzType="search" />
            </ng-template>
            <ng-template #suffixIconClear1>
              <nz-icon
                *ngIf="searchFilter.employee_code"
                nzType="close-circle"
                (click)="handleClearSearch('employee_code')"
                nzTheme="fill"
                class="shr-clear-icon"
              />
            </ng-template>
          </ng-container>
        </td>
        <td>
          <ng-container>
            <nz-input-group [nzPrefix]="prefixIconSearch2" [nzSuffix]="suffixIconClear2">
              <input
                type="text"
                nz-input
                [(ngModel)]="searchFilter.employee_name"
                (keyup)="onSearchFilter($event)"
              />
            </nz-input-group>
            <ng-template #prefixIconSearch2>
              <nz-icon nzType="search" />
            </ng-template>
            <ng-template #suffixIconClear2>
              <nz-icon
                *ngIf="searchFilter.employee_name"
                nzType="close-circle"
                (click)="handleClearSearch('employee_name')"
                nzTheme="fill"
                class="shr-clear-icon"
              />
            </ng-template>
          </ng-container>
        </td>

        <td>
          <nz-date-picker
            nzPlaceHolder="Chọn ngày"
            [nzFormat]="'dd/MM/yyyy'"
            [(ngModel)]="searchFilter.work_date"
            (ngModelChange)="onSearchFilterDate('work_date')"
          ></nz-date-picker>
        </td>
        <td>
          <nz-time-picker
            nzPlaceHolder="Chọn giờ"
            [nzFormat]="'HH:mm'"
            [(ngModel)]="searchFilter.check_in_time"
            (ngModelChange)="onSearchFilterTime('check_in_time')"
          ></nz-time-picker>
        </td>
        <td>
          <nz-time-picker
            nzPlaceHolder="Chọn giờ"
            [nzFormat]="'HH:mm'"
            [(ngModel)]="searchFilter.check_out_time"
            (ngModelChange)="onSearchFilterTime('check_out_time')"
          ></nz-time-picker>
        </td>
        <td>
          <nz-input-group [nzPrefix]="prefixIconSearch5" [nzSuffix]="suffixIconClear5">
            <input
              type="text"
              nz-input
              [(ngModel)]="searchFilter.overtime_hours"
              (keyup)="onSearchFilter($event)"
            />
          </nz-input-group>
          <ng-template #prefixIconSearch5>
            <nz-icon nzType="search" />
          </ng-template>
          <ng-template #suffixIconClear5>
            <nz-icon
              *ngIf="searchFilter.overtime_hours"
              nzType="close-circle"
              (click)="handleClearSearch('overtime_hours')"
              nzTheme="fill"
              class="shr-clear-icon"
            />
          </ng-template>
        </td>
        <td>
          <nz-input-group [nzPrefix]="prefixIconSearch4" [nzSuffix]="suffixIconClear4">
            <input
              type="text"
              nz-input
              [(ngModel)]="searchFilter.total_hours"
              (keyup)="onSearchFilter($event)"
            />
          </nz-input-group>
          <ng-template #prefixIconSearch4>
            <nz-icon nzType="search" />
          </ng-template>
          <ng-template #suffixIconClear4>
            <nz-icon
              *ngIf="searchFilter.total_hours"
              nzType="close-circle"
              (click)="handleClearSearch('total_hours')"
              nzTheme="fill"
              class="shr-clear-icon"
            />
          </ng-template>
        </td>
        <td>
          <nz-select
            [(ngModel)]="searchFilter.status"
            nzAllowClear
            class="shr-w-full"
            nzPlaceHolder="Chọn"
            (ngModelChange)="getListAttendance()"
          >
            <nz-option [nzValue]="ATTENDANCE_STATUS.BINHTHUONG" nzLabel="Bình thường"></nz-option>
            <nz-option [nzValue]="ATTENDANCE_STATUS.MUON" nzLabel="Muộn"></nz-option>
            <nz-option [nzValue]="ATTENDANCE_STATUS.VANG" nzLabel="Vắng"></nz-option>
            <nz-option [nzValue]="ATTENDANCE_STATUS.VESOM" nzLabel="Về sớm"></nz-option>
            <nz-option [nzValue]="ATTENDANCE_STATUS.THEMGIO" nzLabel="Thêm giờ"></nz-option>
          </nz-select>
        </td>

        <td nzRight></td>
      </tr>
      <tr *ngFor="let data of listAttendance; let i = index">
        <td nzLeft>{{ i + 1 }}</td>
        <td nzLeft>{{ data.employee_code }}</td>
        <td>{{ data.employee_name }}</td>
        <td>{{ data.work_date | date : 'dd/MM/yyyy' }}</td>
        <td>{{ data.check_in_time }}</td>
        <td>{{ data.check_out_time }}</td>
        <td>{{ data.total_hours | number }}</td>
        <td>{{ data.overtime_hours | number }}</td>
        <td>
          <div *ngIf="data.status == ATTENDANCE_STATUS.BINHTHUONG">
            <span class="shr-status shr-status--success">Bình thường</span>
          </div>
          <div *ngIf="data.status == ATTENDANCE_STATUS.MUON">
            <span class="shr-status shr-status--warning">Muộn</span>
          </div>
          <div *ngIf="data.status == ATTENDANCE_STATUS.VANG">
            <span class="shr-status shr-status--danger">Vắng</span>
          </div>
          <div *ngIf="data.status == ATTENDANCE_STATUS.VESOM">
            <span class="shr-status shr-status--warning">Về sớm</span>
          </div>
          <div *ngIf="data.status == ATTENDANCE_STATUS.THEMGIO">
            <span class="shr-status shr-status--success">Thêm giờ</span>
          </div>
          <!-- <div>
            <span class="shr-status shr-status--success">Bình thường</span>
          </div> -->
        </td>
        <td nzRight nzAlign="center">
          <shr-button
            type="link"
            leftIcon="eye"
            (click)="showPopupViewAttendance(data)"
            [hidden]="[SYSTEM_ROLES.MANAGE_ATTENDANCE_LIST_ATTENDANCE_VIEW] | checkRole"
          ></shr-button>
          <shr-button
            type="link"
            leftIcon="edit"
            (click)="showPopupEditAttendance(data)"
            [hidden]="[SYSTEM_ROLES.MANAGE_ATTENDANCE_LIST_ATTENDANCE_EDIT] | checkRole"
          ></shr-button>
          <shr-button
            type="link"
            leftIcon="delete"
            (click)="showPopupConfirmToDelete(data)"
            [hidden]="[SYSTEM_ROLES.MANAGE_ATTENDANCE_LIST_ATTENDANCE_DELETE] | checkRole"
          ></shr-button>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <div class="shr-flex shr-jus-sp-bw shr-align-center shr-mt-16 shr-w-full">
    <shr-pagination
      [total]="total"
      [(pageNumber)]="pageNumber"
      [(pageSize)]="pageSize"
      (pageNumberChange)="getListAttendance()"
      (pageSizeChange)="getListAttendance()"
    ></shr-pagination>
  </div>
</div>

<!-- Popup components can be added when implementing functionality -->
<shr-popup-confirm
  *ngIf="isVisiblePopupConfirm"
  [(isVisible)]="isVisiblePopupConfirm"
  typePopup="delete"
  dataName="chấm công"
  [currentDataName]="currentAttendance?.employee_code"
  (confirm)="handleDeleteAttendance()"
></shr-popup-confirm>

<!-- Popup tạo mới chấm công -->
<app-popup-create-attendance
  *ngIf="isvisiblePopupCreateAttendance"
  [(isvisible)]="isvisiblePopupCreateAttendance"
  type="create"
  (recallData)="getListAttendance()"
></app-popup-create-attendance>

<!-- Popup chỉnh sửa chấm công -->
<app-popup-create-attendance
  *ngIf="isvisiblePopupEditAttendance"
  [(isvisible)]="isvisiblePopupEditAttendance"
  type="edit"
  [dataForm]="currentAttendance ? currentAttendance : {}"
  (recallData)="getListAttendance()"
></app-popup-create-attendance>

<app-popup-view-attendance-record
  *ngIf="isvisiblePopupViewAttendance"
  [(isVisible)]="isvisiblePopupViewAttendance"
  [attendanceRecord]="currentAttendance ? currentAttendance : {}"
></app-popup-view-attendance-record>
