<shr-popup
  [(isVisible)]="isvisible"
  (cancelClick)="handleCancel()"
  (confirmClick)="handleOk()"
  [title]="
    type == 'create' ? 'Tạo yêu cầu điều chỉnh chấm công' : 'Cập nhật yêu cầu điều chỉnh chấm công'
  "
  width="800px"
>
  <div nz-row [nzGutter]="[24, 0]">
    <div nz-col nzSpan="12" class="shr-group-input">
      <span class="shr-label-input">Mã nhân viên</span>
      <input
        type="text"
        nz-input
        placeholder="Nhập mã nhân viên"
        [(ngModel)]="dataInput.employee_code"
        [disabled]="fromPersonalData == true"
        nz-popover
        nzPopoverTitle="Danh sách nhân viên"
        nzPopoverTrigger="click"
        [nzPopoverContent]="popListEmployee"
        nzPopoverPlacement="right"
        [(nzPopoverVisible)]="isVisiblePopListEmployee"
      />
    </div>
    <div nz-col nzSpan="12" class="shr-group-input">
      <span class="shr-label-input">Ngày làm việc</span>
      <nz-date-picker
        [(ngModel)]="dataInput.work_date"
        (ngModelChange)="onChangeWorkDate($event)"
        nzFormat="dd/MM/yyyy"
        class="shr-w-full"
        [nzDisabled]="fromPersonalData == true"
      ></nz-date-picker>
    </div>
    <div nz-col nzSpan="12" class="shr-group-input">
      <span class="shr-label-input">Thời gian check-in (ban đầu)</span>
      <nz-time-picker
        [(ngModel)]="dataInput.original_check_in"
        [nzFormat]="'HH:mm'"
        class="shr-w-full"
        [nzDisabled]="type == 'edit' || fromPersonalData == true"
      ></nz-time-picker>
    </div>
    <div nz-col nzSpan="12" class="shr-group-input">
      <span class="shr-label-input">Thời gian check-out (ban đầu)</span>
      <nz-time-picker
        [(ngModel)]="dataInput.original_check_out"
        [nzFormat]="'HH:mm'"
        class="shr-w-full"
        [nzDisabled]="type == 'edit' || fromPersonalData == true"
      ></nz-time-picker>
    </div>
    <div nz-col nzSpan="12" class="shr-group-input">
      <span class="shr-label-input">Thời gian check-in (điều chỉnh)</span>
      <nz-time-picker
        [(ngModel)]="dataInput.adjusted_check_in"
        [nzFormat]="'HH:mm'"
        class="shr-w-full"
      ></nz-time-picker>
    </div>
    <div nz-col nzSpan="12" class="shr-group-input">
      <span class="shr-label-input">Thời gian check-out (điều chỉnh)</span>
      <nz-time-picker
        [(ngModel)]="dataInput.adjusted_check_out"
        [nzFormat]="'HH:mm'"
        class="shr-w-full"
      ></nz-time-picker>
    </div>
    <div nz-col nzSpan="24" class="shr-group-input">
      <span class="shr-label-input">Lý do điều chỉnh</span>
      <textarea
        nz-input
        type="text"
        placeholder="Nhập lý do điều chỉnh"
        [(ngModel)]="dataInput.reason"
        rows="4"
      ></textarea>
    </div>
  </div>
</shr-popup>

<ng-template #popListEmployee>
  <nz-table nzSize="small" nzShowPagination="false" [nzData]="listEmployee" nzBordered>
    <thead>
      <tr>
        <th>Mã nhân viên</th>
        <th>Họ tên</th>
        <th>Phòng ban</th>
        <th>Vị trí</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listEmployee" (click)="chooseEmployee(item)">
        <td>{{ item.employee_code }}</td>
        <td>{{ item.last_name + ' ' + item.first_name }}</td>
        <td>{{ item.department?.department_name }}</td>
        <td>{{ item.jobPosition?.job_name }}</td>
      </tr>
    </tbody>
  </nz-table>
  <div class="shr-flex shr-jus-space-between shr-align-center shr-mt-16">
    <shr-pagination
      [total]="totalEmployees"
      [(pageSize)]="pageSize"
      [(pageNumber)]="pageNumber"
      (pageNumberChange)="getListEmployee()"
      (pageSizeChange)="getListEmployee()"
    ></shr-pagination>
  </div>
</ng-template>
