<div class="exception-container">
  <div class="exception-content">
    <nz-result
      nzStatus="404"
      nzTitle="404"
      nzSubTitle="Xin lỗi, trang bạn đang tìm kiếm không tồn tại."
    ></nz-result>
  </div>
</div>

<style>
  .exception-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    /* background-color: #f0f2f5; */
  }

  .exception-content {
    padding: 32px;
    background: #fff;
    /* border-radius: 4px; */
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); */
  }
</style>
